<nav class="nav-bar fs-grid" role="navigation">
  <div class="wrapper">
    <div class="fs-row">
      <div class="fs-cell fs-md-hide">
        <ul class="site-nav" id="AccessibleNav">
          {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                <a href="{{ link.url }}" class="site-nav__link">
                  {{ link.title }}
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </a>
                <ul class="site-nav__dropdown">
                  {% for childlink in linklists[child_list_handle].links %}
                    <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                      <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="fs-lg-hide fs-md-half">
        <div class="grid">
          <div class="grid__item one-half">
            <div class="site-nav--mobile">
              <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                <span class="icon icon-hamburger" aria-hidden="true"></span>
                <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
              </button>
            </div>
          </div>
          <div class="grid__item one-half text-right">
            <div class="site-nav--mobile">
              <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                <span class="icon-fallback-text">
                  <span class="icon icon-cart" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>